USE [master]
GO
/****** Object:  Database [ASSPRJ321]    Script Date: 03/21/2022 15:08:13 ******/
CREATE DATABASE [ASSPRJ321] ON  PRIMARY 
( NAME = N'ASSPRJ321', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\ASSPRJ321.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ASSPRJ321_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\ASSPRJ321_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ASSPRJ321].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ASSPRJ321]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 03/21/2022 15:08:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Account](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Username] [varchar](150) NOT NULL,
	[Password] [varchar](150) NOT NULL,
	[Admin] [bit] NULL,
	[Seller] [bit] NULL,
	[Email] [nvarchar](max) NULL,
	[Phone] [nvarchar](50) NULL,
	[Address] [nvarchar](max) NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Account] ON
INSERT [dbo].[Account] ([Id], [Name], [Username], [Password], [Admin], [Seller], [Email], [Phone], [Address]) VALUES (1, N'Ngo Manh Dat', N'datngomanh', N'dat442001', 1, 0, N'dat@gmail.com', N'0934587344', N'Bắc Giang')
INSERT [dbo].[Account] ([Id], [Name], [Username], [Password], [Admin], [Seller], [Email], [Phone], [Address]) VALUES (2, N'Admin', N'admin', N'admin123', 1, 0, N'admin@gmail.com', N'0987234632', N'Hà Nội')
INSERT [dbo].[Account] ([Id], [Name], [Username], [Password], [Admin], [Seller], [Email], [Phone], [Address]) VALUES (3, N'Mod', N'mod', N'mod123', 0, 1, N'Mod@gmail.com', N'0128732634', N'HCM')
SET IDENTITY_INSERT [dbo].[Account] OFF
/****** Object:  Table [dbo].[ListCategory]    Script Date: 03/21/2022 15:08:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListCategory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_ListProduct] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ListCategory] ON
INSERT [dbo].[ListCategory] ([Id], [Name], [Status]) VALUES (1, N'Ghế Tập Tạ', 1)
INSERT [dbo].[ListCategory] ([Id], [Name], [Status]) VALUES (2, N'Ghế Tập Bụng', 1)
INSERT [dbo].[ListCategory] ([Id], [Name], [Status]) VALUES (3, N'Giàn Tạ Đa Năng', 1)
SET IDENTITY_INSERT [dbo].[ListCategory] OFF
/****** Object:  Table [dbo].[Ship]    Script Date: 03/21/2022 15:08:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ship](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Phone] [nvarchar](50) NULL,
	[Address] [nvarchar](max) NULL,
	[Note] [nvarchar](max) NULL,
 CONSTRAINT [PK_Ship] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Ship] ON
INSERT [dbo].[Ship] ([Id], [Name], [Phone], [Address], [Note]) VALUES (25, N'Ngô Đạt', N'283952843', N'Bắc giang, Việt yên', N'okla')
INSERT [dbo].[Ship] ([Id], [Name], [Phone], [Address], [Note]) VALUES (26, N'Ngô Đạt', N'283952843', N'Bắc giang, Việt yên', N'hihi')
INSERT [dbo].[Ship] ([Id], [Name], [Phone], [Address], [Note]) VALUES (27, N'Ngô Đạt', N'283952843', N'Bắc giang, Việt yên', N'ewrwe')
SET IDENTITY_INSERT [dbo].[Ship] OFF
/****** Object:  Table [dbo].[Order]    Script Date: 03/21/2022 15:08:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Account_id] [int] NULL,
	[Shipping_id] [int] NULL,
	[date_create] [date] NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Order] ON
INSERT [dbo].[Order] ([Id], [Account_id], [Shipping_id], [date_create], [status]) VALUES (35, 1, 31, CAST(0xB8430B00 AS Date), 1)
INSERT [dbo].[Order] ([Id], [Account_id], [Shipping_id], [date_create], [status]) VALUES (36, 1, 32, CAST(0xB8430B00 AS Date), 0)
SET IDENTITY_INSERT [dbo].[Order] OFF
/****** Object:  Table [dbo].[Product]    Script Date: 03/21/2022 15:08:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Price] [bigint] NOT NULL,
	[Promotionalprice] [bigint] NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Listcategory_id] [int] NOT NULL,
	[Brand] [nvarchar](50) NOT NULL,
	[Image] [ntext] NOT NULL,
	[Rate] [int] NULL,
 CONSTRAINT [PK_Product_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Product] ON
INSERT [dbo].[Product] ([Id], [Name], [Price], [Promotionalprice], [Description], [Quantity], [Listcategory_id], [Brand], [Image], [Rate]) VALUES (1, N'Ghế tập bụng đa năng DDS-104', 1450000, 1200000, N' được thiết kế đa năng, hỗ trợ tập cơ bụng; cơ lưng và tập thể lực hiệu quả, phù hợp sử dụng để rèn luyện tại nhà cho cả nam lẫn nữ. Với kích thước nhỏ gọn và đi kèm theo đó là nhiều chức năng tập luyện, mẫu ghế này đang được rất nhiều bạn yêu thích, lựa chọn. ', 0, 2, N'Trung Quốc', N'image\ghetapbung\ghe1.jpg', 5)
INSERT [dbo].[Product] ([Id], [Name], [Price], [Promotionalprice], [Description], [Quantity], [Listcategory_id], [Brand], [Image], [Rate]) VALUES (2, N'Ghế cong tập bụng 601002', 1235000, 1100000, N'ÄÆ°á»£c thiáº¿t káº¿ nhá» gá»n, cÃ³ thá» Äiá»u chá»nh Äá» dá»c dá» dÃ ng khi sá»­ dá»¥ng vÃ  tÃ­ch há»£p nhiá»u bÃ i táº­p thá» hÃ¬nh hiá»u quáº£ cho Gymer. ÄÃ¢y lÃ  máº«u gháº¿ phÃ¹ há»£p Äá» sá»­ dá»¥ng cho cÃ¡c báº¡n Äang cÃ³ nhu cáº§u tham gia táº­p thá» hÃ¬nh táº¡i nhÃ ', 6, 2, N'Việt Nam', N'image\ghetapbung\ghe2.jpg', 5)
INSERT [dbo].[Product] ([Id], [Name], [Price], [Promotionalprice], [Description], [Quantity], [Listcategory_id], [Brand], [Image], [Rate]) VALUES (3, N'Ghế tập bụng Ben Pro 601003', 1460000, 1350000, N'được thiết kế chắc chắn, hỗ trợ gập bụng hiệu quả và hiện đang được lắp đặt cho hầu hết phòng tập Gym cao cấp ở Việt Nam', 11, 2, N'Hàn Quốc', N'image\ghetapbung\ghe3.jpg', 5)
SET IDENTITY_INSERT [dbo].[Product] OFF
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 03/21/2022 15:08:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Order_id] [int] NULL,
	[Product_id] [int] NOT NULL,
	[Quantity] [int] NULL,
 CONSTRAINT [PK_OrderDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC,
	[Product_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[OrderDetail] ON
INSERT [dbo].[OrderDetail] ([Id], [Order_id], [Product_id], [Quantity]) VALUES (21, 35, 13, 1)
INSERT [dbo].[OrderDetail] ([Id], [Order_id], [Product_id], [Quantity]) VALUES (22, 36, 23, 1)
INSERT [dbo].[OrderDetail] ([Id], [Order_id], [Product_id], [Quantity]) VALUES (23, 36, 8, 1)
SET IDENTITY_INSERT [dbo].[OrderDetail] OFF
/****** Object:  Table [dbo].[Cart]    Script Date: 03/21/2022 15:08:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Product_Id] [int] NULL,
	[Quantity] [int] NULL,
	[Account_id] [int] NULL,
	[Total_price] [bigint] NULL,
 CONSTRAINT [PK_Cart] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cart] ON
INSERT [dbo].[Cart] ([Id], [Product_Id], [Quantity], [Account_id], [Total_price]) VALUES (9, 13, 1, 2, 2000000)
INSERT [dbo].[Cart] ([Id], [Product_Id], [Quantity], [Account_id], [Total_price]) VALUES (10, 12, 3, 2, 4500000)
INSERT [dbo].[Cart] ([Id], [Product_Id], [Quantity], [Account_id], [Total_price]) VALUES (14, 12, 2, 14, 3000000)
SET IDENTITY_INSERT [dbo].[Cart] OFF
/****** Object:  ForeignKey [FK_Order_Account]    Script Date: 03/21/2022 15:08:14 ******/
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Account] FOREIGN KEY([Account_id])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Account]
GO
/****** Object:  ForeignKey [FK_Order_Ship]    Script Date: 03/21/2022 15:08:14 ******/
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Ship] FOREIGN KEY([Shipping_id])
REFERENCES [dbo].[Ship] ([Id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Ship]
GO
/****** Object:  ForeignKey [FK_Product_ListCategory]    Script Date: 03/21/2022 15:08:14 ******/
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_ListCategory] FOREIGN KEY([Listcategory_id])
REFERENCES [dbo].[ListCategory] ([Id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_ListCategory]
GO
/****** Object:  ForeignKey [FK_OrderDetail_Order]    Script Date: 03/21/2022 15:08:14 ******/
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Order] FOREIGN KEY([Order_id])
REFERENCES [dbo].[Order] ([Id])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Order]
GO
/****** Object:  ForeignKey [FK_OrderDetail_Product]    Script Date: 03/21/2022 15:08:14 ******/
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Product] FOREIGN KEY([Product_id])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Product]
GO
/****** Object:  ForeignKey [FK_Cart_Account]    Script Date: 03/21/2022 15:08:14 ******/
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_Account] FOREIGN KEY([Account_id])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Cart_Account]
GO
/****** Object:  ForeignKey [FK_Cart_Product]    Script Date: 03/21/2022 15:08:14 ******/
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_Product] FOREIGN KEY([Product_Id])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Cart_Product]
GO
